/Mochilando-view/nbproject/private/
/Mochilando-common/nbproject/private/
/Mochilando-core/nbproject/private/
/Cliente/Mochilando-view/nbproject/private/
/Servidor/Mochilando-core/nbproject/private/
/Servidor/Mochilando-core/build/
/Servidor/Mochilando-core/dist/
/Mochilando-common/build/
/Mochilando-common/dist/
/TesteEnviar/nbproject/private/